<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JinyAUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>JinyAUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>JinyAuthSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JinySDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JinySDKUniversal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>JinySampleApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D03E44DF2420AABA00A43FEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D03E44F42420AABC00A43FEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D03E44FF2420AABC00A43FEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0592E76241FA6E3007782A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0592E7F241FA6E3007782A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
